.header {
    display: flex;
    align-items: left;
    background-color: #0a2740;
    height: 60px; /* Adjust the header height */
    padding: 0 20px;
    color: white;
    width: auto;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 100%; /* Matches the header height */
}

.logo {
    height: 40px; /* Ensure the logo height fits proportionally */
    width: auto;
}
